streamlit
pandas 
plotly.express 
plotly.figure_factory 
seaborn 
matplotlib.pyplot 
sklearn.model_selection 
train_test_split
numpy 
sklearn.impute 
SimpleImputer
KNNImputer 
sklearn.preprocessing
OrdinalEncoder
LabelEncoder
OneHotEncoder 
category_encoders
BinaryEncoder 
imblearn.under_sampling
RandomUnderSampler 
imblearn.over_sampling 
RandomOverSampler
SMOTE 
StandardScaler
MinMaxScaler
RobustScaler
